body{
		background-color: linen;
		<!--background-image: src= "bg1.png;"-->
		}
		h2{
			font-size: 45px;
			text-align: center;
		}
		p{
			background-color: purple; 
			font-size 30px; 
			color: white;
			text-align: center;
		}