
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

    html{
        min-height: 100%;
        background-color: #000104;
    }
    
    #logo h1{
        font-family: 'Amatic SC', cursive;
        text-align:center;
        color: #D23345;
        font-size: 4.980544747081712vw;
        margin-top: 0;
        margin-bottom: 0;
        letter-spacing: 0.1245136186770428vw;    
    }
    
    #logo h2{
        font-family: 'Amatic SC', cursive;
        text-align:center;
        color: #D23345;
        font-size: 2.490272373540856vw;
        margin-top: 0;
        margin-bottom: 0;
        white-space:pre;
        letter-spacing: 0.1867704280155642vw;
    }
    
    #logo img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 4.980544747081712vw;
        width: 50%;
    }
    
    #content img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        margin-top:  0.622568093385214vw;
        width: 50%;
    }
    
    #content p{
        display: block;
        margin-left: 21.964202334630356vw;
        margin-right: auto;
        margin-bottom: 0;
        margin-top: 4.980544747081712vw;
        width: 50%;
        color: #D23345;
        font-family:'Times New Roman', Times, serif;
    }
    
    #content h3{
        display: table;
        margin: 0px auto 0px auto;
        text-align: center;
        font-family: 'Overlock', cursive;
        background-color:black;
        color: #25E7DF;
    }
    
    #contact{
        text-align: center;
        font-family: 'Amatic SC', cursive;
    }
    
    #contact h2{
        font-family: 'Amatic SC', cursive;
        color: #D23345;
        font-size:2.3657587548638133vw;
    }
    
    #contact h3{
        text-align: center;
        font-size: 1.245136186770428vw;
        color: #25E7DF;
    }
    
    #contact-box{
        border: 3px solid #D23345;
    }
    
    #text p{
        display:block;
        font-family: 'Overlock', cursive; 
        color: #25E7DF;
    }
    
    #row ul{
        white-space: nowrap;
    }
    
    #row ul, li{
        list-style: none;
        display: inline;
    }
    
    body h1{
        font-family: 'Overlock', cursive; 
        text-align:center;
        color: #D23345;
        font-size: 2.7237354085603114vw;
    }
    
    .outer-box{
        height: 10.8359133126935vh;
        box-sizing: border-box;
        border: 0.124vw solid #25E7DF;
        margin-bottom:  5.159958720330238vh;
    }
    
    .button-box{
        text-align: center;
        list-style-type: none;
        margin: 0.052083333333333336vw;
        padding: 0;
        height: 10.319917440660475vh;
        box-sizing: border-box;
        border: 0.185vw solid #D23345;
    
    }
    
    .image-column{
        flex:33%;
        padding: 0.2604166666666667vw
    }
    
    .image-row-after{
        display: flex;
    }
    
    #buttons li{  
    list-style: none;
    text-align: center;
    position: static;
    display: inline-block;
    margin-top: 1.4959752321981426vh;
    padding: 0.7em;
    border: 0.1556420233463035vw solid #25E7DF;
    background-color: #2A2E2E;
    }
    
    #buttons li:hover{
    list-style: none;
    text-align: center;
    position: static;
    display: inline-block;
    padding: 0.7em;
    border: 0.1556420233463035vw solid #D23345;
    background-color: #2A2E2E;
    }
    
    #buttons li a:hover{
    text-decoration: none;
    color: #25E7DF;
    }
    
    #buttons li a{
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: #D23345;
    font-size:1.2333333333333334vw;
    }
    
    body{
    
    background-color: #2A2E2E;
    margin: 0;
    padding: 0;
    border-left: 15.688715953307392vw solid #000104;
    border-right: 15.688715953307392vw solid #000104;
    border-top:  0.7844357976653696vh solid #000104;
    min-height: 100vh;
    max-width: 100%; 
    }
    
    footer{
    background-color: #181a1a;
    position:relative;
    margin-top: 3em;
    height: 8em;
    width: 100%;
    left: 0;
    bottom: 0%;
    }
    
    footer p{
        position:sticky;
        font-size: 1em;
        padding-top: 4.5479876160990713vh;
        text-align: center;
        color: #25E7DF;
    }
    
    .Site{
        display: flex;
        min-height: 100vh;
        flex-direction: column;
      }
      
      .Site-content {
        flex: 1;
      }
    
      @media all and (min-width:0px) and (max-width: 1024px)
      {
  
        html{
            min-height: 100%;
            background-color: #000104;
        }
        
        #logo h1{
            font-family: 'Amatic SC', cursive;
            text-align:center;
            color: #D23345;
            font-size: 6.980544747081712vw;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0.1245136186770428vw;    
        }
        
        #logo h2{
            font-family: 'Amatic SC', cursive;
            text-align:center;
            color: #D23345;
            font-size: 2.490272373540856vw;
            margin-top: 0;
            margin-bottom: 0;
            white-space:pre;
            letter-spacing: 0.1867704280155642vw;
        }
        
        #logo img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            margin-top: 4.980544747081712vw;
            width: 50%;
        }
        
        #content img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            margin-top:  0.622568093385214vw;
            width: 50%;
        }
        
        #content p{
            display: block;
            margin-left: 21.964202334630356vw;
            margin-right: auto;
            margin-bottom: 0;
            margin-top: 4.980544747081712vw;
            width: 50%;
            color: #D23345;
            font-family:'Times New Roman', Times, serif;
        }
        
        #content h3{
            display: table;
            margin: 0px auto 0px auto;
            text-align: center;
            font-family: 'Overlock', cursive;
            background-color:black;
            color: #25E7DF;
        }
        
        #contact{
            text-align: center;
            font-family: 'Amatic SC', cursive;
        }
        
        #contact h2{
            font-family: 'Amatic SC', cursive;
            color: #D23345;
            font-size:2.3657587548638133vw;
        }
        
        #contact h3{
            text-align: center;
            font-size: 1.245136186770428vw;
            color: #25E7DF;
        }
        
        #contact-box{
            border: 3px solid #D23345;
        }
        
        #text p{
            display:block;
            font-family: 'Overlock', cursive; 
            color: #25E7DF;
        }
        
        #row ul{
            white-space: nowrap;
        }
        
        #row ul, li{
            list-style: none;
            display: inline;
        }
        
        body h1{
            font-family: 'Overlock', cursive; 
            text-align:center;
            color: #D23345;
            font-size: 2.7237354085603114vw;
        }
        
        .outer-box{
            height: 10.8359133126935vh;
            box-sizing: border-box;
            border: 0.124vw solid #25E7DF;
            margin-bottom:  5.159958720330238vh;
        }
        
        .button-box{
            text-align: center;
            list-style-type: none;
            margin: 0.042083333333333336vw;
            padding: 0;
            height: 10.719917440660475vh;
            box-sizing: border-box;
            border: 0.185vw solid #D23345;
        
        }
        
        .image-column{
            flex:33%;
            padding: 0.2604166666666667vw
        }
        
        .image-row-after{
            display: flex;
        }
        
        #buttons li{  
        list-style: none;
        text-align: center;
        position: static;
        display: inline-block;
        margin-top: 2.5vh;
        padding: 0.7em;
        border: 0.1556420233463035vw solid #25E7DF;
        background-color: #2A2E2E;
        }
        
        #buttons li:hover{
        list-style: none;
        text-align: center;
        position: static;
        display: inline-block;
        padding: 0.7em;
        border: 0.1556420233463035vw solid #D23345;
        background-color: #2A2E2E;
        }
        
        #buttons li a:hover{
        text-decoration: none;
        color: #25E7DF;
        }
        
        #buttons li a{
        text-decoration: none;
        font-family:'Times New Roman', Times, serif;
        color: #D23345;
        font-size:1.2333333333333334vw;
        }
        
        body{
        
        background-color: #2A2E2E;
        margin: 0;
        padding: 0;
        border-left: 15.688715953307392vw solid #000104;
        border-right: 15.688715953307392vw solid #000104;
        border-top:  0.7844357976653696vh solid #000104;
        min-height: 100vh;
        max-width: 100%; 
        }
        
        footer{
        background-color: #181a1a;
        position:relative;
        margin-top: 4em;
        height: 8em;
        width: 100%;
        left: 0;
        bottom: 0%;
        }
        
        footer p{
            position:sticky;
            font-size: 1em;
            padding-top: 2.0vh;
            text-align: center;
            color: #25E7DF;
        }
        
        .Site{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }
          
          .Site-content {
            flex: 1;
          }
    }

    @media all and (max-width:1024px) and (orientation:landscape)
    {

        html{
            min-height: 100%;
            background-color: #000104;
        }
        
        #logo h1{
            font-family: 'Amatic SC', cursive;
            text-align:center;
            color: #D23345;
            font-size: 4.980544747081712vw;
            margin-top: 0;
            margin-bottom: 0;
            letter-spacing: 0.1245136186770428vw;    
        }
        
        #logo h2{
            font-family: 'Amatic SC', cursive;
            text-align:center;
            color: #D23345;
            font-size: 2.490272373540856vw;
            margin-top: 0;
            margin-bottom: 0;
            white-space:pre;
            letter-spacing: 0.1867704280155642vw;
        }
        
        #logo img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            margin-top: 4.980544747081712vw;
            width: 50%;
        }
        
        #content img{
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 0;
            margin-top:  0.622568093385214vw;
            width: 50%;
        }
        
        #content p{
            display: block;
            margin-left: 21.964202334630356vw;
            margin-right: auto;
            margin-bottom: 0;
            margin-top: 4.980544747081712vw;
            width: 50%;
            color: #D23345;
            font-family:'Times New Roman', Times, serif;
        }
        
        #content h3{
            display: table;
            margin: 0px auto 0px auto;
            text-align: center;
            font-family: 'Overlock', cursive;
            background-color:black;
            color: #25E7DF;
        }
        
        #contact{
            text-align: center;
            font-family: 'Amatic SC', cursive;
        }
        
        #contact h2{
            font-family: 'Amatic SC', cursive;
            color: #D23345;
            font-size:2.3657587548638133vw;
        }
        
        #contact h3{
            text-align: center;
            font-size: 1.245136186770428vw;
            color: #25E7DF;
        }
        
        #contact-box{
            border: 3px solid #D23345;
        }
        
        #text p{
            display:block;
            font-family: 'Overlock', cursive; 
            color: #25E7DF;
        }
        
        #row ul{
            white-space: nowrap;
        }
        
        #row ul, li{
            list-style: none;
            display: inline;
        }
        
        body h1{
            font-family: 'Overlock', cursive; 
            text-align:center;
            color: #D23345;
            font-size: 2.7237354085603114vw;
        }
        
        .outer-box{
            height: 10.8359133126935vh;
            box-sizing: border-box;
            border: 0.124vw solid #25E7DF;
            margin-bottom:  5.159958720330238vh;
        }
        
        .button-box{
            text-align: center;
            list-style-type: none;
            margin: 0.052083333333333336vw;
            padding: 0;
            height: 10.319917440660475vh;
            box-sizing: border-box;
            border: 0.185vw solid #D23345;
        
        }
        
        .image-column{
            flex:33%;
            padding: 0.2604166666666667vw
        }
        
        .image-row-after{
            display: flex;
        }
        
        #buttons li{  
        list-style: none;
        text-align: center;
        position: static;
        display: inline-block;
        margin-top: 1.4959752321981426vh;
        padding: 0.7em;
        border: 0.1556420233463035vw solid #25E7DF;
        background-color: #2A2E2E;
        }
        
        #buttons li:hover{
        list-style: none;
        text-align: center;
        position: static;
        display: inline-block;
        padding: 0.7em;
        border: 0.1556420233463035vw solid #D23345;
        background-color: #2A2E2E;
        }
        
        #buttons li a:hover{
        text-decoration: none;
        color: #25E7DF;
        }
        
        #buttons li a{
        text-decoration: none;
        font-family:'Times New Roman', Times, serif;
        color: #D23345;
        font-size:1.2333333333333334vw;
        }
        
        body{
        
        background-color: #2A2E2E;
        margin: 0;
        padding: 0;
        border-left: 15.688715953307392vw solid #000104;
        border-right: 15.688715953307392vw solid #000104;
        border-top:  0.7844357976653696vh solid #000104;
        min-height: 100vh;
        max-width: 100%; 
        }
        
        footer{
        background-color: #181a1a;
        margin-top: 4em;
        position:relative;
        height: 12.22568093385214vh;
        width: 100%;
        left: 0;
        bottom: 0%;
        }
        
        footer p{
            position:sticky;
            font-size: 1em;
            padding-top: 2.5479876160990713vh;
            text-align: center;
            color: #25E7DF;
        }
        
        .Site{
            display: flex;
            min-height: 100vh;
            flex-direction: column;
          }
          
          .Site-content {
            flex: 1;
          }
    }

    .hide-on-mobile {
        display: none;
      }

      .show-on-mobile {
        display: none;
      }

      .hide-on-desktop {
        display: none;
      }

      .show-on-desktop {
        display: none;
      }

    @media screen and (min-width: 1025px) {
        .hide-on-mobile {
          display: none;
        }
      }

      @media screen and (max-width: 1024px) {
        .show-on-mobile {
          display: inline;
        }
      }

      @media screen and (max-width: 1024px) {
        .hide-on-desktop {
          display: none;
        }
      }
      
      @media screen and (min-width: 1025px) {
        .show-on-desktop {
          display: inline;
        }
      }
   