
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

@font-face{
    font-family: 'Amatic 1'; 
    font-weight: 400; 
    font-style: normal;
    font-display: swap; /* Read next point */
    unicode-range: U+000-5FF; /* Download only latin glyphs */
    src: url('/assets/fonts/AmaticSC-Regular.ttf') format('truetype');
}

html{
    min-height: 100%;
    background-color: #000104;
}

#logo h1{
    font-family: 'Amatic SC', cursive;
    text-align:center;
    color: #D23345;
    font-size: 4em;
    margin-top: 0;
    margin-bottom: 0;
    letter-spacing: 0.1em;    
}

#logo h2{
    font-family: 'Amatic SC', cursive;
    text-align:center;
    color: #D23345;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    white-space:pre;
    letter-spacing: 0.15em;
}

#logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 4em;
    width: 50%;
}

#content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 0.5em;
    width: 50%;
}

#content p{
    display: block;
    margin-left: 35.63em;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 4em;
    width: 50%;
    color: #D23345;
    font-family:'Times New Roman', Times, serif;
}

#content h3{
    display: table;
    margin: 0px auto 0px auto;
    text-align: center;
    font-family: 'Overlock', cursive;
    background-color:black;
    color: #25E7DF;
}

#contact{
    text-align: center;
    font-family: 'Amatic SC', cursive;
}

#contact h2{
    font-family: 'Amatic SC', cursive;
    color: #D23345;
    font-size:1.9em;
}

#contact h3{
    text-align: center;
    font-size: 1em;
    color: #25E7DF;
}

#contact-box{
    border: 3px solid #D23345;
}

#text p{
    display:block;
    font-family: 'Overlock', cursive; 
    color: #25E7DF;
}

#row ul{
    white-space: nowrap;
}

#row ul, li{
    list-style: none;
    display: inline;
}

body h1{
    font-family: 'Overlock', cursive; 
    text-align:center;
    color: #D23345;
    font-size: 2.1875em;
}

.outer-box{
    height: 105px;
    box-sizing: border-box;
    border: 2px solid #25E7DF;
    margin-bottom: 50px;
}

.button-box{
    text-align: center;
    list-style-type: none;
    margin: 1px;
    padding: 0;
    height: 100px;
    box-sizing: border-box;
    border: 3px solid #D23345;

}

.image-column{
    flex:33%;
    padding: 5px;
}

.image-row-after{
    display: flex;
}

#buttons li{  
list-style: none;
text-align: center;
position: relative;
display: inline-block;
margin-top: 30px;
padding: 0.5em;
border: 0.125em solid #25E7DF;
background-color: #2A2E2E;
}

#buttons li:hover{
list-style: none;
text-align: center;
position: relative;
display: inline-block;
padding: 0.5em;
border: 0.125em solid #D23345;
background-color: #2A2E2E;
}

#buttons li a:hover{
text-decoration: none;
color: #25E7DF;
}

#buttons li a{
text-decoration: none;
font-family:'Times New Roman', Times, serif;
color: #D23345;
}

body{

background-color: #2A2E2E;
margin: 0;
padding: 0;
border-left: 12.6em solid #000104;
border-right: 12.6em solid #000104;
border-top: 0.63em solid #000104;
min-height: 100vh;
max-width: 100%; 
}

footer{
background-color: #181a1a;
position:relative;
margin-top: 5em;
height: 5em;
width: 100%;
left: 0;
bottom: 0;
}

footer p{
    padding-top: 15px;
    text-align: center;
    color: #25E7DF;
}

.Site{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  .Site-content {
    flex: 1;
  }