header{
    background-color: #27374D;
    color: white;
    font-size: 36px;
    text-align:center
}

body{
        background-color: #526D82;
        font-family: 'Times New Roman', Times, serif;
        padding: 30px;
    }

