@import url('https://fonts.cdnfonts.com/css/optima');
@import url('https://fonts.cdnfonts.com/css/galgey');

header{
    background-color: #27374D;
    color: black;
    font-size: 36px;
    text-align:center;
    font-family: 'Optima', sans-serif;
}

body{
        background-color: #526D82;
        font-family: 'Galgey', sans-serif;
        padding: 30px;
    }
p{
    background-color: #9DB2BF;
    font-family: 'Galgey', sans-serif;
    padding: 30px;
}


h2{
    text-align: center;
    border-radius: 25px; 
    font-family: 'Galgey', sans-serif;
}


